/* fonts */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');

 
body {
background-color:beige;
background-image:  url(../images/South_Park_Archives_background.jpg);
box-sizing: border-box;
/* font-size: 15px; */
}

.borderbox {
	box-sizing: border-box;
}

.main {
box-sizing: border-box;
background-color:lightblue;
text-align: center;

}

/* */
	/* height: 75px	;
/* } */
/* Hangman title */
.hangman {
	font-size: 45px;
	font-family: 'Press Start 2P', cursive;
	text-shadow: 2px 2px 2px #CCCCCC;
	color:whitesmoke;
}

/* south park edition title */
.southpark {
	font-family: 'Reenie Beanie', cursive;
	font-size: 45px;
	text-shadow: 2px 2px 2px #CCCCCC;	
	color:green;
}

/* southpark picket image */
/* .spimg {

height: 100px;
width: 100px;
float:left;
} */

/* right column */
/* .rghtcol {
	background-color: beige;
} */

/* Align */
 .align {
	text-align: center;
	font-family: 'Reenie Beanie', cursive;
	font-size: 75px;
	color:green;
}

footer {
	text-align: center;
	background-color:lightskyblue;
}

h1 {
	font-size: 15px;
}

.white {
	background-color: white;
}

/* Media Queries */ 
@media screen and (max-width: 980px) {
	.white {
		background-color: white;
	}

}

@media screen and (max-width: 768px) {
	.white {
		background-color: white;
	}
}

@media screen and (max-width: 640px) {
	.white {
		background-color: white;
	}
}


