/* fonts */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');

 
body {
background-color:beige;
background-image:  url(../images/South_Park_Archives_background.jpg);
}

/* .main {
	display: inline-block;
	background: pink;

} */

header {
	text-align: center;
	background-color:lightskyblue; */
	/* height: 75px	;
/* } */
/* Hangman title */
.hangman {
	font-size: 60px;
	font-family: 'Press Start 2P', cursive;
	text-shadow: 2px 2px 2px #CCCCCC;
	color:whitesmoke;
}

/* south park edition title */
.southpark {
	font-family: 'Reenie Beanie', cursive;
	font-size: 45px;
	text-shadow: 2px 2px 2px #CCCCCC;	
	color:green;
}

/* southpark picket image */
/* .spimg {

height: 100px;
width: 100px;
float:left;
} */

/* right column */
/* .rghtcol {
	background-color: beige;
} */

/* name this character sign  */
/* h3 {
	text-align: center;
	font-family: 'Reenie Beanie', cursive;
	font-size: 50px;
	color:green;
} */

/* footer {
	text-align: center;
	background-color:lightskyblue;
} */


